/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #1f253f;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 2px 14px;
    font-weight: 600;
  }
  
  .modal-data {
    padding: 2px 10px;
    padding-bottom: 10px;
    font-weight: 300;
  }

  .modal-data, td {
    padding-right: 2em;
  }

  .modal-row-header{
    font-weight: 700;
    color: rgb(122, 122, 122);
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #d46000;
    color: white;
  }
  
  /* Modal Content */
  .modal-content-show {
    top: 0%;
    left: 0%;
    position: fixed;
    background-color: #fcfcfc;
    margin: auto;
    padding: 0;
    border: 1px solid #1f253f;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animateReveal;
    animation-duration: 0.8s;
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  
  /* Add Animation */
  @keyframes animateReveal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

    /* Modal Content */
    .modal-content-hide {
      top: 0%;
      left: 0%;
      position: fixed;
      background-color: #ffffff;
      margin: auto;
      padding: 0;
      border: 1px solid #1f253f;
      width: 33%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      animation-name: animateHide;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      z-index: 1;

    }
    
    /* Add Animation */
    @keyframes animateHide {
      from {top: 0; opacity: 1}
      to {top: -300px; opacity: 0;}
    }